.medgooglemaps_navigation_menue {
    margin: 0 0 10px 0;
}

.medgooglemaps_navigation_menue a {
    padding: 0 5px 0 0;
    text-decoration: none;
}

.medgooglemaps_navigation_menue a:hover {
    text-decoration: none;
}

.medgooglemaps_navigation_menue a:first-child {
    font-weight: bold;
}

.medgooglemaps_navigation_content input.medgooglemaps_submit {
    margin-top: -10px;
}

.tx-medgooglemaps img {
	max-width: none;
}

.medgooglemaps_content p:last-child {
	margin-bottom: 0;
}